@font-face {
    font-family: oitobits;
    src: url('Gamegirl.ttf');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: oitobits;
}
.menu {
    border-top: 1px solid #fff;
    height: 50px;
    background:#414675;
    border-bottom: 2px solid #000;
    min-width: 600px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}
ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.menu-li{
    list-style: none;
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    height: 100%;
}
.menu-li a{
    text-decoration: none;
    color: #fff;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.menu-li > a:hover{
    background: -webkit-linear-gradient(#414675,#2f3356);
    background: linear-gradient(#414675,#2f3356);
    color: #ff6347;
}
#container{
    position: absolute;
    top: 50px;
    left: 0;
    height:calc(100vh - 55px);
    width: 500vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.container{
    height: 100%;
    border: 1px solid black;
    width: 100vw;
}
.container:nth-child(1){
    background: gold;
}
.container:nth-child(2){
    background: tomato;
}
.container:nth-child(3){
    background: yellow;
}
.container:nth-child(4){
    background: gray;
}
.container:nth-child(5){
    background: brown;
}
/*:target {
    animation: highlight 1s ease;
    transform: translateX(20px);
}
@keyframes highlight {
    0% {
        border:50px solid red;
        border-left-color: red; }
    100% { border-left-color: white; }
}*/
.box{
    height: 100px;
    width: 100px;
    background: #11dde0;
    margin: 2px;
    display: flex;
    align-items:  center;
    justify-content: center;
    font-size: 12px;font-family: monospace!important;
    border: 1px solid #000;
    cursor: pointer;
    transition: all .5s ease;
}
.box:hover{
    background: white!important;
    /*    transform: scale(1.1, 1.1);*/
    border-radius: 50%
}
